REMOTE_URL='http://hub.browserstack.com/wd/hub'
DEVICE_NAME='<DEVICE_NAME>'
PLATFORM_NAME='<PLATFORM_NAME>'
PLATFORM_VERSION='<PLATFORM_VERSION>'
APP_WAIT_ACTIVITY='org.wikipedia.*'
APP='bs://af63347da434ef51be53d5563a9c85f2fe9a63b1'
RESOURCE_ID = 'org.wikipedia.alpha:id'

USER_NAME='<USER_NAME>'
ACCESS_KEY='<ACCESS_KEY>'